.bg-dark {
    background-color: #4632A8!important;
}

.jumbotron {
    margin-bottom: 0;
    background-color: #fff;
}

.bg-light {
    background-color: #eceaf6!important;
}

.btn-primary {
    color: #fff;
    background-color: #4632A8;
    border-color: #312375;
}

.btn-secondary {
    color: #231954;
    background-color: #eceaf6;
}

h6 {
    font-weight: 600;
}